/cmake-build-debug
/data
.idea
/"reports (копия)"/
/reports
/"src (копия)"/
/reports/
/graphics/check_dist/
/graphics/gen_words/
/venv/
/reports (копия)/
/reports (копия)/check_dist/
"/reports (копия)/check_dist/"
/graphics/eng_words/
/reports (копия)/check_dist/*
/graphics/Thu Dec  2 23.44.12 2021/
